[Unit]
Description=Pipe keyboard events to /dev/kb

[Service]
ExecStartPre=/bin/sh -c "echo \"kbev starting\""
ExecStart=./kb-events.service
ExecStop=/bin/sh -c "echo \"kbev stopped\""
Restart=always
User=root

[Install]
WantedBy=multi-user.target